
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
}
.map-container {
  flex: 1;
}

/* ===== Sidebar ===== */
.sidebar {
  width: 150px;
  padding: 1.5rem 1rem;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
  transition: background 0.3s, color 0.3s;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s, font-weight 0.2s;
  font-size: 1rem;
}

.sidebar li:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.sidebar li.selected,
.sidebar li:active {
  font-weight: bold;
  color: #d9531b;
}

/* ===== Info Window ===== */
.info-window {
  max-width: 500px;
  border: 4px solid rgb(245, 106, 47);
  padding: 12px;
  font-family: Arial, sans-serif;
  background: white;
  border-radius: 8px;
}

.info-window p,
.info-window li {
  margin: 6px 0;
}

.info-window p strong {
  font-weight: bold;
  display: inline-block;
  min-width: 70px;
  margin-right: 8px;
}

.info-window ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.info-window ul li p {
  margin: 6px 0;
}

.info-window h2 {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 1.5em;
  color: #f56a2f;
}

.info-window .row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
  font-size: 14px;
}

.info-window .row strong {
  min-width: 75px;
  display: inline-block;
  font-weight: bold;
}

.info-window .row span {
  flex: 1;
}