:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
}
.map-container {
  flex: 1;
}

/* ===== Sidebar ===== */
.sidebar {
  width: 150px;
  padding: 1.5rem 1rem;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
  transition: background 0.3s, color 0.3s;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s, font-weight 0.2s;
  font-size: 1rem;
}

.sidebar li:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.sidebar li.selected,
.sidebar li:active {
  font-weight: bold;
  color: #d9531b;
}

/* ===== Info Window ===== */
.info-window {
  max-width: 500px;
  border: 2px solid rgb(245, 106, 47);
  padding: 16px;
  font-family: Arial, sans-serif;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info-window h2 {
  margin: 0 0 12px 0;
  font-size: 1.4em;
  color: #f56a2f;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(245, 106, 47, 0.2);
}

.info-window h2:not(:first-child) {
  margin-top: 16px;
}

.info-window ul {
  list-style-type: none;
  padding-left: 0;
  margin: 8px 0;
}

.info-window ul li {
  background: rgba(245, 106, 47, 0.03);
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.info-window ul li:last-child {
  margin-bottom: 0;
}

.info-window ul li p {
  margin: 6px 0;
}

/* Station Info Styles */
.station-info {
  background: rgba(245, 106, 47, 0.03);
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
}

/* Measurements Styling */
.measurement-row {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 4px;
  width: 100%;
  padding: 2px 0;
}

.measurement-label {
  display: inline-block;
  width: 110px;
  text-align: left;
  font-weight: 600;
  color: #444;
}

.measurement-value {
  display: inline-flex;
  align-items: center;
  min-width: 80px;
  text-align: left;
  color: #222;
}

/* Hover effects */
.measurement-row:hover {
  background: rgba(245, 106, 47, 0.05);
  border-radius: 4px;
}

/* Timestamp styling */
.info-window ul li > span {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px dashed rgba(245, 106, 47, 0.2);
}